src/main/java/ehcache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ehcache" type="ehcacheType"/>
  <xs:complexType name="ehcacheType">
    <xs:sequence>
      <xs:element type="defaultCacheType" name="defaultCache"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="updateCheck"/>
  </xs:complexType>
  <xs:complexType name="defaultCacheType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="maxElementsInMemory"/>
        <xs:attribute type="xs:string" name="eternal"/>
        <xs:attribute type="xs:string" name="timeToIdleSeconds"/>
        <xs:attribute type="xs:string" name="timeToLiveSeconds"/>
        <xs:attribute type="xs:string" name="overflowToDisk"/>
        <xs:attribute type="xs:string" name="maxElementsOnDisk"/>
        <xs:attribute type="xs:string" name="diskPersistent"/>
        <xs:attribute type="xs:string" name="diskExpiryThreadIntervalSeconds"/>
        <xs:attribute type="xs:string" name="memoryStoreEvictionPolicy"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>