src/main/java/templates/zabbix-events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="adapterTemplate" type="adapterTemplateType"/>
  <xs:complexType name="titleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adaptersDirectoryFullPathType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adapterTitleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="unique"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configFileType">
    <xs:sequence>
      <xs:element type="confPropertiesType" name="confProperties"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="configFile" use="optional"/>
    <xs:attribute type="xs:string" name="encoding" use="optional"/>
    <xs:attribute type="xs:string" name="description" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mainLogFileType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="jarFilePathType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sourcesType">
    <xs:sequence>
      <xs:element type="sourceType" name="source" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="configsType" name="configs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adapterNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="unique"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configFilesType">
    <xs:sequence>
      <xs:element type="configFileType" name="configFile" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adapterFileNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="unique"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="jarFileNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="checkStatusCommandsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configsType">
    <xs:sequence>
      <xs:element type="configType" name="config" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adapterTemplateType">
    <xs:sequence>
      <xs:element type="propertiesType" name="properties"/>
      <xs:element type="sourcesType" name="sources"/>
      <xs:element type="mainConfigType" name="mainConfig"/>
      <xs:element type="configFilesType" name="configFiles"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="mainConfigType">
    <xs:sequence>
      <xs:element type="titleType" name="title"/>
      <xs:element type="contentType" name="content"/>
      <xs:element type="jarFileNameType" name="jarFileName"/>
      <xs:element type="jarFilePathType" name="jarFilePath"/>
      <xs:element type="checkStatusCommandsType" name="checkStatusCommands"/>
      <xs:element type="startCommandsType" name="startCommands"/>
      <xs:element type="stopCommandsType" name="stopCommands"/>
      <xs:element type="logFileType" name="logFile"/>
      <xs:element type="errorLogFileType" name="errorLogFile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confPropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="defValue" use="optional"/>
        <xs:attribute type="xs:string" name="useGlobalValue" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="stopCommandsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="logFileType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="errorLogFileType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
        <xs:attribute type="xs:string" name="format" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adapterShFileNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="unique"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adapterDirectoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="unique"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="adapterDescriptionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="target" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="confPropertiesType">
    <xs:sequence>
      <xs:element type="confPropertyType" name="confProperty" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="adaptersDirectoryFullPathType" name="adaptersDirectoryFullPath"/>
      <xs:element type="adapterDirectoryType" name="adapterDirectory"/>
      <xs:element type="adapterFileNameType" name="adapterFileName"/>
      <xs:element type="adapterTitleType" name="adapterTitle"/>
      <xs:element type="adapterNameType" name="adapterName"/>
      <xs:element type="adapterDescriptionType" name="adapterDescription"/>
      <xs:element type="adapterShFileNameType" name="adapterShFileName"/>
      <xs:element type="mainLogFileType" name="mainLogFile"/>
      <xs:element type="errorLogFileType" name="errorLogFile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startCommandsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:string" name="format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>